{% trans_default_domain 'sfs_cms_admin' %}

{#{% extends ['@SfsAdmin/layout.html.twig', 'admin/layout.html.twig', 'base.html.twig'] %}#}
{% extends '@SyliusAdmin/layout.html.twig' %}

{% block footer %}
    {% trans_default_domain 'messages' %}
    Contents managed by Softspring's
    <a href="https://softspring.es" target="_blank">CMS Sylius bundle</a>.
    {% if sfs_cms_sylius_bundle.version_branch|default(false) %}
        <a href="https://github.com/softspring/cms-sylius-bundle/tree/{{ sfs_cms_sylius_bundle.version_branch }}" target="_blank">{{ sfs_cms_sylius_bundle.version_branch }}@dev</a>.
    {% else %}
        <a href="https://github.com/softspring/cms-sylius-bundle/releases/tag/{{ sfs_cms_sylius_bundle.version }}" target="_blank">{{ sfs_cms_sylius_bundle.version }}</a>.
    {% endif %}
    {{ 'sylius.ui.see_issue'|trans }}? <a href="https://github.com/softspring/cms-sylius-bundle/issues" target="_blank">{{ 'sylius.ui.report_it'|trans }}!</a>
{% endblock %}

{% block pre_content %}
    <div class="ui stackable two column grid">
        <div class="column">

            <h1 class="ui header">
                <i class="circular {% block header_icon %}{{ content_config.meta.sylius.icon|default('file alternate') }}{% endblock %} icon"></i>
                <div class="content">
                    {% block header_title %}{% endblock %}
                    <div class="sub header">{% block header_subtitle %}{% endblock %}</div>
                </div>
            </h1>
            <div class="ui breadcrumb">
                <a href="/admin/" class="section">Administration</a>
                <i class="right chevron icon divider"></i>
                <a href="#" class="section">CMS</a>
                <i class="right chevron icon divider"></i>
                {% block breadcrums_content %}{% endblock breadcrums_content %}
            </div>
        </div>

        <div class="middle aligned column">
            <div class="ui right floated buttons">
                {% block header_buttons %}
                    <li class="item">
                    {% if not content_config.admin.duplicate.is_granted or is_granted(content_config.admin.duplicate.is_granted, entity) %}
                        <a class="ui primary labeled icon button" href="{{ url('sfs_cms_admin_content_'~content_type~'_duplicate', {'content':entity}) }}">
                            <i class="icon copy outline"></i>{{ ('admin_content.header_buttons.duplicate')|trans }}</a>
                    {% else %}
                        <a class="ui primary labeled icon button disabled">
                            <i class="icon copy outline"></i>{{ ('admin_content.header_buttons.duplicate')|trans }}</a>
                    {% endif %}
                    </li>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ sylius_template_event('sylius.admin.layout.javascripts') }}
    {{ encore_entry_script_tags('admin-entry-cms', null, 'admin') }}
{% endblock %}
