{% trans_default_domain 'sfs_cms_admin' %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="{{ html_classes|default('') }}">
<head>
    <meta charset="UTF-8">
    {% block viewport %}
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    {% endblock viewport %}
    {% block seo %}
        <title>{{ title_prefix|default('') }}{% block title %}Welcome!{% endblock %}</title>
    {% endblock seo %}
    {% block favicon %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {% endblock favicon %}
    {% block stylesheets %}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
              crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        {{ encore_entry_link_tags('admin-entry', null, 'admin') }}
        {{ encore_entry_link_tags('admin-entry-cms', null, 'admin') }}
        {{ encore_entry_link_tags('shop-entry', null, 'shop') }}
    {% endblock %}
    {% block header_javascripts %}
        <script type="text/javascript">document.cookie = "utz=" + (new Date()).toString().split(' ')[5] + ';path=/;secure=true'</script>
    {% endblock %}
    {% block extra_headers %}
        {% if app_version|default(false) %}
            <meta name="generator" content="{{ app_version }}" />
        {% endif %}
        {% if app_color|default(false) %}
            <meta name="msapplication-TileColor" content="#{{ app_color }}">
            <meta name="theme-color" content="#{{ app_color }}">
        {% endif %}
    {% endblock %}
</head>
<body class="{{ body_classes|default('') }}">
{% block body %}

{% endblock %}
{% block javascripts %}
{#    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"#}
{#            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"#}
{#            crossorigin="anonymous"></script>#}
{#    {{ encore_entry_script_tags('admin-entry', null, 'admin') }}#}
    {{ encore_entry_script_tags('admin-entry-bootstrap', null, 'admin') }}
    {{ encore_entry_script_tags('admin-entry-cms', null, 'admin') }}
{#    {{ encore_entry_script_tags('shop-entry', null, 'shop') }}#}
{% endblock %}
{% block modals %}{% endblock %}
</body>
</html>
