{% trans_default_domain 'sfs_media_admin' %}

{% form_theme form
    '@SyliusUi/Form/theme.html.twig'
    '@SfsMedia/forms/media_type_theme_semantic.html.twig'
%}

<div class="container-fluid bg-white p-4">
    {{ form_start(form,{'attr':{'class':'ui form'}}) }}
        <div class="two fields">
            <div class="field">
            {{ form_row(form.name) }}
            </div>
            <div class="field">
             {{ form_row(form.description) }}
            </div>
        </div>
        {{ form_row(form._original) }}
        <div id="media_create_form__original_preview" class="img-fluid"></div>

        {{ form_rest(form) }}
        <div class="ui hidden divider"></div>
        <div class="ui buttons">
            <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'admin_medias.create.actions.create.button'|trans }}</button>
            <a href="{{ app.request.query.get('back', '#') }}" class="ui button">{{ 'admin_medias.create.actions.cancel.button'|trans }}</a>
        </div>
    {{ form_end(form) }}
</div>
