{% trans_default_domain 'sfs_media_admin' %}
{% extends '@SfsMedia/admin_layout.html.twig' %}
{% block title %}{{ 'admin_medias.create.meta.title'|trans({'%type%':type_config.name}) }}{% endblock %}

{% form_theme form '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig' '@SyliusUi/Form/theme.html.twig'  %}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_media_admin_medias_list') }}">{{ 'admin_medias.list.breadcrumb'|trans }}</a><i class="right chevron icon divider"></i>
    <span class="section active" aria-current="content">{{ 'admin_medias.create.breadcrumb'|trans({'%type%':type_config.name}) }}</span>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_medias.create.title'|trans({'%type%':type_config.name}) }}</h1>

    <div class="ui hidden divider"></div>
    <div class="ui segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}

        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form._original) }}
        {{ form_rest(form) }}

        <div class="ui hidden divider"></div>
        <div class="ui buttons">
            <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'admin_medias.create.actions.create.button'|trans }}</button>
            <a href="{{ url('sfs_media_admin_medias_list') }}" class="ui button">{{ 'admin_medias.create.actions.cancel.button'|trans }}</a>
       </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
