{% trans_default_domain 'sfs_media_admin' %}
{% extends '@SfsMedia/admin_layout_semantic.html.twig' %}
{% set sfs_components_theme = 'semantic-ui' %}

{% form_theme filterForm 'form_table_layout.html.twig' %}


{% block title %}{{ 'admin_medias.list.meta.title'|trans }}{% endblock %}
{% block header_title %}{{ 'admin_medias.list.title'|trans }}{% endblock %}
{% block header_subtitle %}Manage content media{% endblock %}
{% block breadcrums_content %}
    <a class="active section">{{ 'admin_medias.list.breadcrumb'|trans }}</a>
{% endblock breadcrums_content %}

{% block header_buttons %}
    {% if is_granted('PERMISSION_SFS_MEDIA_ADMIN_MEDIAS_CREATE') and media_types|length %}
        <div class="ui floating labeled icon dropdown button teal">
            <i class="plus icon"></i>
            <span class="text">{{ 'admin_medias.list.actions.create.link'|trans }}</span>
            <div class="menu">
                {% for key,type in media_types %}
                    <div class="item">
                        <a href="{{ url('sfs_media_admin_medias_create', {'type':key}) }}">{{ type.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if entities|length %}
        <div class="ui hidden divider"></div>

        <div class="ui styled fluid accordion">
            <div class="title">
                <i class="dropdown icon"></i>
                <i class="filter icon"></i>
                Filters
            </div>
            <div class="content">
                {{ form_start(filterForm, {'attr':{'class':'ui form'}}) }}
                    <div class="inline fields">
                        {% if filterForm.name is defined %}
                            <div class="field">
                                {{ form_row(filterForm.name, {'row_class':'form-floating'}) }}
                            </div>
                        {% endif %}
                        {% if filterForm.type is defined %}
                            <div class="field">
                                {{ form_row(filterForm.type, {'row_class':'form-floating'}) }}
                            </div>
                        {% endif %}
                        {{ form_widget(filterForm) }}
                        {{ form_rest(filterForm) }}
                        <div class="field">
                            <button class="ui blue labeled icon button" type="submit">
                                <i class="icon search"></i> Filter
                            </button>
                        </div>
                    </div>
                {{ form_end(filterForm) }}
            </div>
        </div>
    {% endif %}

    <div class="ui hidden divider"></div>

    {% include '@SfsComponents/paginator/pager.html.twig' with {'collection': entities} %}

    <div class="ui segment sylius-grid-table-wrapper">
        {% include '@SfsMedia/admin/media/list-page.html.twig' %}
    </div>

    {% include '@SfsComponents/paginator/pager.html.twig' with {'collection': entities} %}
{% endblock content %}
