{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_menus.create.meta.title'|trans }}{% endblock %}
{% block header_icon %}bars{% endblock %}

{% form_theme form '@SfsPolymorphicFormType/polymorphic-form-theme.html.twig' '@SyliusUi/Form/theme.html.twig' '@SfsCmsSylius/cms_form_theme.html.twig' '@SfsCmsSylius/cms_form_theme.html.twig' %}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_menus_list') }}">{{ 'admin_menus.list.breadcrumb'|trans }}</a><i class="right chevron icon divider"></i>
    <span class="active section" aria-current="content">{{ 'admin_menus.create.breadcrumb'|trans }}</span>
{% endblock breadcrums_content %}

{% block content %}
    <h1 class="h3">{{ 'admin_menus.create.title'|trans }}</h1>

    <div class="ui hidden divider"></div>
    <div class="ui segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}
            {{ form_row(form.name) }}
            {{ form_rest(form) }}

            <div class="ui hidden divider"></div>
            <div class="ui buttons">
                <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'admin_menus.create.actions.create.button'|trans }}</button>
                <a href="{{ url('sfs_cms_admin_menus_list') }}" class="ui button">{{ 'admin_menus.create.actions.cancel.button'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
