{% trans_default_domain 'sfs_cms_contents' %}

{% embed '@SfsCms/admin/_embeds/_card.html.twig' with {'title': 'General'} %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block title %}
        {{ parent() }}


    {% endblock %}

    {% block content %}
        <div class="ui list">
            <div class="item">
                {{ ('admin_'~content_type~'.read.name')|trans }}
                <div class="header">{{ entity.name }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.sites')|trans }}
                <div class="header">{{ entity.sites|map((site) => site|sfs_cms_site_name)|join(', ') }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.general.status')|trans }}

                <div class="header">{{ (content_type~'.status.'~entity.status)|trans }}
                {% if entity.publishedVersion %}
                    (<a href="{{ url('sfs_cms_admin_content_'~content_type~'_version_info', {'content':entity, 'version':entity.publishedVersion}) }}">v{{ entity.publishedVersion.versionNumber }}</a>)
                {% endif %}
                </div>
            </div>
            {% if entity.publishedVersion %}
            <div class="item">
                {{ ('admin_'~content_type~'.read.general.publishDate')|trans }}
                <div class="header">{{ entity.publishedVersion.createdAt|date('H:i d-m-Y') }}</div>
            </div>
            {% endif %}
        </div>
        <div class="ui divider"></div>
        {% if entity.publishedVersion %}
            {% if not content_config.admin.unpublish.is_granted or is_granted(content_config.admin.unpublish.is_granted, entity) %}
            <a class="fluid ui primary labeled icon button" href="{{ url('sfs_cms_admin_content_'~content_type~'_unpublish', {'content':entity}) }}"
                   onclick="return confirm('{{ ('admin_'~content_type~'.read.actions.unpublish.confirm')|trans({'%name%':entity.name}) }}')">
                        <i class="icon eye slash"></i>{{ ('admin_'~content_type~'.read.actions.unpublish.link')|trans }}</a>
            {% else %}
                <a class="fluid ui primary labeled icon button disabled">
                    <i class="icon pencil"></i>{{ ('admin_'~content_type~'.read.actions.unpublish.link')|trans }}</a>
            {% endif %}
        {% endif %}
    {% endblock %}
{% endembed %}
