{% trans_default_domain 'sfs_cms_contents' %}

{% embed '@SfsCms/admin/_embeds/_card.html.twig' with {'title': ('admin_'~content_type~'.read.indexing.title')|trans} %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block title %}
        {{ parent() }}
    {% endblock %}

    {% block content %}

        <div class="ui list">
            <div class="item">
                {{ ('admin_'~content_type~'.read.indexing.noIndex.label')|trans }}
                <div class="header">{{ ('admin_'~content_type~'.read.indexing.noIndex.'~entity.indexing.noIndex|default(false)?'yes':'no')|trans }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.indexing.noFollow.label')|trans }}
                <div class="header">{{ ('admin_'~content_type~'.read.indexing.noFollow.'~entity.indexing.noFollow|default(false)?'yes':'no')|trans }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.indexing.sitemap.label')|trans }}
                <div class="header">{{ ('admin_'~content_type~'.read.indexing.sitemap.'~entity.indexing.sitemap|default(false)?'yes':'no')|trans }}</div>
            </div>
        </div>
        <div class="ui divider"></div>
        {% if not content_config.admin.update.is_granted or is_granted(content_config.admin.update.is_granted, entity) %}
            <a class="fluid ui primary labeled icon button" href="{{ url('sfs_cms_admin_content_'~content_type~'_seo', {'content':entity}) }}">
                <i class="icon pencil"></i>{{ ('admin_'~content_type~'.read.indexing.edit.link')|trans }}</a>
        {% else %}
            <a class="fluid ui primary labeled icon button disabled"><i class="icon pencil"></i> {{ ('admin_'~content_type~'.read.indexing.edit.link')|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
