{% trans_default_domain 'sfs_cms_contents' %}

{% embed '@SfsCms/admin/_embeds/_card.html.twig' with {'title': ('admin_'~content_type~'.read.seo.title')|trans} %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block title %}
        {{ parent() }}
    {% endblock %}

    {% block content %}

        <div class="ui list">
            <div class="item">
                {{ ('admin_'~content_type~'.read.seo.index')|trans }}
                <div class="header">{{ entity.seo.noIndex|default(false)?'noindex':'index' }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.seo.links')|trans }}
                <div class="header">{{ entity.seo.noFollow|default(false)?'nofollow':'follow' }}</div>
            </div>
            <div class="item">
                {{ ('admin_'~content_type~'.read.seo.sitemap')|trans }}
                <div class="header">{{ entity.seo.sitemap|default(false)?(('admin_'~content_type~'.read.seo.sitemap.yes')|trans):(('admin_'~content_type~'.read.seo.sitemap.no')|trans) }}</div>
            </div>
        </div>
        <div class="ui divider"></div>
        {% if not content_config.admin.seo.is_granted or is_granted(content_config.admin.seo.is_granted, entity) %}
            <a class="fluid ui primary labeled icon button" href="{{ url('sfs_cms_admin_content_'~content_type~'_seo', {'content':entity}) }}">
                <i class="icon pencil"></i>{{ ('admin_'~content_type~'.read.seo.edit.link')|trans }}</a>
        {% else %}
            <a class="fluid ui primary labeled icon button disabled"><i class="icon pencil"></i> {{ ('admin_'~content_type~'.read.seo.edit.link')|trans }}</a>
        {% endif %}
    {% endblock %}
{% endembed %}
