{% embed '@SfsCms/admin/_embeds/_card.html.twig' %}
    {% trans_default_domain 'sfs_cms_contents' %}

    {% block title %}<div class="ui header">Version information</div>{% endblock %}

    {% block content %}
        {{ form_start(form) }}
        <div class="ui list">
            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.version.title')|trans }}</strong> v{{ version_entity.versionNumber }}</div>

            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.layout.title')|trans }}</strong> {{ (version_entity.layout~'.title')|trans({}, 'sfs_cms_layouts') }}</div>

            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.origin.title')|trans }}</strong> {{ ('admin_'~content_type~'.versions.origin.'~(version_entity.origin|default('null')))|trans }} {{ version_entity.originDescription ? '('~version_entity.originDescription~')' : '' }}</div>

            {% set creator = version_entity.metaField('creator') %}
            {% if creator %}
                <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.creator.title')|trans }}</strong>  {{ creator.name|default(creator.id)|default('') }}</div>
            {% endif %}

            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.created.title')|trans }}</strong> {{ version_entity.createdAt ? version_entity.createdAt|date('H:i:s d-m-Y') : '' }}</div>

            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.publish_status.title')|trans }}</strong> {{ version_entity.published ? ('admin_'~content_type~'.versions.publish_status.published')|trans : ('admin_'~content_type~'.versions.publish_status.unpublished')|trans }}</div>

            <div class="item"><strong>{{ ('admin_'~content_type~'.version_info.info.keep.title')|trans }}</strong>
                {% if not content_config.admin.version_lock.is_granted or is_granted(content_config.admin.version_lock.is_granted, version) %}
                    {% if version.keep %}
                        <a class=""
                           href="{{ url('sfs_cms_admin_content_'~content_type~'_unkeep_version', {'content':entity, 'version':version, 'back': 'version_info'}) }}">
                            <i class="icon lock"></i> {{ ('admin_'~content_type~'.versions.actions.keep.link')|trans }}
                        </a>
                    {% else %}
                        <a class=""
                           href="{{ url('sfs_cms_admin_content_'~content_type~'_keep_version', {'content':entity, 'version':version, 'back': 'version_info'}) }}">
                            <i class="icon lock open"></i> {{ ('admin_'~content_type~'.versions.actions.nokeep.link')|trans }}
                        </a>
                    {% endif %}
                {% else %}
                    {% if version.keep %}
                        <span><i class="icon lock"></i> {{ ('admin_'~content_type~'.versions.actions.keep.link')|trans }}</span>
                    {% else %}
                        <span><i  class="icon lock open"></i> {{ ('admin_'~content_type~'.versions.actions.nokeep.link')|trans }}</span>
                    {% endif %}
                {% endif %}
            </div>

            <div class="item"><strong>{{ form_label(form.note) }}</strong>
                <div class="ui form">
                    <div class="inline field">
                    {{ form_widget(form.note) }}
                        <button class="ui button primary icon"
                                type="submit"
                                title="{{ ('admin_'~content_type~'.version_info.actions.save.button')|trans }}">
                            <i class="icon check"></i></button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    {% endblock %}
{% endembed %}
