{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout_semantic.html.twig' %}

{% form_theme form
    '@SfsCms/forms/cms_theme_semantic.html.twig'
    '@SfsCms/forms/routes_theme_semantic.html.twig'
    '@SfsCms/forms/types_theme_semantic.html.twig'
%}

{% block title %}{{ ('admin_'~content_type~'.create.meta.title')|trans }}{% endblock %}

{% block header_title %}{{ ('admin_'~content_type~'.create.title')|trans }}{% endblock %}
{% block header_subtitle %}Manage your content pages{% endblock %}

{% block header_buttons %}
{% endblock %}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">{{ ('admin_'~content_type~'.create.breadcrumb')|trans }}</a>
{% endblock breadcrums_content %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui bottom attached active tab segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}
            {{ form_errors(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.sites) }}
            {{ form_row(form.defaultLocale) }}
            {{ form_row(form.locales) }}
            {{ form_row(form.routes) }}
            <div class="ui hidden divider"></div>
            {{ form_rest(form) }}
            <div class="ui hidden divider"></div>
            <div class="ui buttons">
                <button class="ui labeled icon primary button" type="submit"><i class="save icon"></i> {{ ('admin_'~content_type~'.create.actions.create.button')|trans }}</button>
                <a href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}" class="ui button">{{ ('admin_'~content_type~'.create.actions.cancel.button')|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
