{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout_semantic.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.delete.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}
{% block header_title %}{{ ('admin_'~content_type~'.delete.title')|trans({'%name%':entity.name}) }}{% endblock %}
{% block header_subtitle %}Manage your page{% endblock %}
{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a>
    <i class="right chevron icon divider"></i>
    <a class="section" href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}">{{ ('admin_'~content_type~'.read.breadcrumb')|trans({'%name%': entity.name}) }}</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">{{ ('admin_'~content_type~'.delete.breadcrumb')|trans({'%name%':entity.name}) }}</a>
{% endblock breadcrums_content %}

{% form_theme form
    '@SfsCms/forms/cms_theme_semantic.html.twig'
    '@SfsCms/forms/routes_theme_semantic.html.twig'
    '@SfsCms/forms/types_theme_semantic.html.twig'
%}

{% block content %}
    {% include '@SfsCms/admin/content/_content_tabs.html.twig' with {'current':'delete', 'content':content, 'entity':entity} %}

    <div class="ui bottom attached active tab segment">


        {% if entity.publishedVersion|default(entity.lastVersion) %}
        <div class="ui icon warning message">
            <i class="warning icon"></i>
            <div class="content">
                <div class="header">{{ ('admin_'~content_type~'.delete.main_warnings_raw')|trans|raw }}</div>
                <p class="">
                    {{ ('admin_'~content_type~'.delete.offer_backup')|trans }} &nbsp;&nbsp;
                    <a href="{{ url('sfs_cms_admin_content_'~content_type~'_export_version', {'content':entity, 'version':entity.publishedVersion|default(entity.lastVersion)}) }}" class="ui primary button">
                        {{ ('admin_'~content_type~'.delete.actions.export.button')|trans }}</a>
                </p>
            </div>
        </div>
        {% endif %}

        {{ form_start(form,{'attr':{'class':'ui form'}}) }}

        {% if entity.publishedVersion %}

        {% endif %}

        {{ ('admin_'~content_type~'.delete.index_warnings_raw')|trans|raw }}
        {{ form_rest(form) }}
        <div class="ui hidden divider"></div>
        <div class="ui buttons">
            <a href="{{ url('sfs_cms_admin_content_'~content_type~'_details', {'content':entity}) }}" class="ui button">{{ ('admin_'~content_type~'.delete.actions.cancel.button')|trans }}</a>
            <input type="submit" value="{{ ('admin_'~content_type~'.delete.actions.delete.button')|trans }}" class="ui red button" />
        </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
