{% trans_default_domain 'sfs_cms_contents' %}
{% extends '@SfsCms/admin_layout_semantic.html.twig' %}
{% set sfs_components_theme = 'semantic-ui' %}

{#{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}#}

{% block title %}{{ ('admin_'~content~'.list.meta.title')|trans }}{% endblock %}
{% block header_title %}{{ ('admin_'~content~'.list.title')|trans }}{% endblock %}
{% block header_subtitle %}Manage your content pages{% endblock %}
{% block breadcrums_content %}
    <a class="active section">{{ ('admin_'~content~'.list.breadcrumb')|trans }}</a>
{% endblock breadcrums_content %}

{% block header_buttons %}
    <a class="ui labeled icon button  primary " href="{{ url('sfs_cms_admin_content_'~content~'_create') }}">
        <i class="icon plus"></i>
        {{ ('admin_'~content~'.list.actions.create.link')|trans }}
    </a>
    <a class="ui labeled icon button  primary " href="{{ url('sfs_cms_admin_content_'~content~'_import') }}">
        <i class="icon upload"></i>
        {{ ('admin_'~content~'.list.actions.import.link')|trans }}
    </a>
{% endblock %}

{% block content %}
    {% block table %}
        {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':entities, 'filter_form':filterForm, 'pagination_route': 'sfs_cms_admin_content_'~content~'_list', 'classes':'table ui celled'} %}
            {% trans_default_domain 'sfs_cms_contents' %}

            {% block filters %}
                {% if filterForm.name is defined %}{{ form_row(filter_form.name) }}{% endif %}
                {% if filterForm.sites is defined %}{{ form_row(filter_form.sites) }}{% endif %}
                <input type="button" value="search" />
            {% endblock filters %}

            {% block ths %}
                <th scope="col">
                    <a href="{{ entities.sortToggleUrl(app.request, 'name') }}" class="text-dark">
                        {{ ('admin_'~content~'.list.fields.name.header')|trans }}
                        {% if entities.sortedBy('name', 'asc') %}<i class="bi bi-caret-up-fill"></i>{% elseif entities.sortedBy('name', 'desc') %}<i class="bi bi-caret-down-fill"></i>{% endif %}
                    </a>
                </th>
                <th class="">Sites</th>
                <th class="">Publicado</th>
                <th class="">&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include list_page_view %}
            {% endblock tbody %}

            {% block empty_message %}
                <p>{{ empty_message|default('The list is empty') }}</p>

                <a class="ui labeled icon button  primary " href="{{ url('sfs_cms_admin_content_'~content~'_create') }}">
                    <i class="icon plus"></i>
                    {{ ('admin_'~content~'.list.actions.create.link')|trans }}
                </a>
            {% endblock empty_message %}
        {% endembed %}
    {% endblock table %}
{% endblock content %}
