{% trans_default_domain 'sfs_cms_contents' %}

{% for entity in entities %}
    <tr class="item">
        <td>{{ entity.name }}</td>
        <td>{{ entity.sitesSorted|map((site) => site|sfs_cms_site_name)|join(', ') }}</td>
        <td>{{ entity.publishedVersion ? entity.publishedVersion.createdAt|date('H:i d-m-Y') : 'no' }}</td>
        <td class="text-end">
            <div class="ui buttons">
                <a class="ui labeled icon button" href="{{ url('sfs_cms_admin_content_'~content~'_details', {'content':entity}) }}">
                    <i class="icon search"></i>{{ ('admin_'~content~'.list.actions.details.link')|trans }}</a>
            </div>
        </td>
    </tr>
{% endfor %}
