{% trans_default_domain 'sfs_cms_contents' %}

{% extends '@SfsCms/admin_layout_semantic.html.twig' %}

{% block title %}{{ ('admin_'~content_type~'.read.meta.title')|trans({'%name%':entity.name}) }}{% endblock %}

{% block header_title %}{{ ('admin_'~content_type~'.read.title')|trans({'%name%':entity.name}) }}{% endblock %}
{% block header_subtitle %}Manage your page{% endblock %}

{% set sfs_components_theme = 'semantic-ui' %}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_content_'~content_type~'_list') }}">{{ ('admin_'~content_type~'.list.breadcrumb')|trans }}</a>
    <i class="right chevron icon divider"></i>
    <a class="section active">{{ ('admin_'~content_type~'.read.breadcrumb')|trans({'%name%':entity.name}) }}</a>
{% endblock breadcrums_content %}

{% block content %}
    {% include ['@content/'~content_type~'/admin/_content_tabs.html.twig', '@SfsCms/admin/content/_content_tabs.html.twig']  with {'current':'details', 'content_type':content_type, 'entity':entity} %}

    <div class="ui bottom attached active tab segment">
        <div class="ui grid">
            <div class="four wide column">
                {% include ['@content/'~content_type~'/admin/_read_general.html.twig', '@SfsCms/admin/content/_read_general.html.twig'] %}
            </div>
            <div class="four wide column">
                {% include ['@content/'~content_type~'/admin/_read_indexing.html.twig', '@SfsCms/admin/content/_read_indexing.html.twig'] %}
            </div>
            <div class="four wide column">
                {% include ['@content/'~content_type~'/admin/_read_routes.html.twig', '@SfsCms/admin/content/_read_routes.html.twig'] %}
            </div>
            <div class="four wide column">
                {% include ['@content/'~content_type~'/admin/_read_translations.html.twig', '@SfsCms/admin/content/_read_translations.html.twig'] %}
            </div>
            <div class="sixteen wide column">
                {% include ['@content/'~content_type~'/admin/_read_versions.html.twig', '@SfsCms/admin/content/_read_versions.html.twig'] %}
            </div>
        </div>
    </div>
{% endblock content %}
