{#{% trans_default_domain 'sfs_cms_contents' %}#}

{#{% extends '@SfsCms/admin_layout_semantic.html.twig' %}#}

{#{% block breadcrums_content %}#}
{#    {{ parent() }}#}
{#    <a class="section" href="{{ url('sfs_cms_admin_content_page_list') }}">{{ 'admin_pages.list.breadcrumb'|trans }}</a><i class="right chevron icon divider"></i>#}
{#    <span class="active section">{{ 'admin_pages.translations.breadcrumb'|trans }}</span>#}
{#{% endblock breadcrums_content %}#}

{#{% block content %}#}
{#    <h1 class="h3">{{ 'admin_pages.translations.title'|trans }}</h1>#}

{#    {% include '@SfsCms/admin/page/_page_tabs.html.twig' with {'current':'translations', 'content':entity} %}#}

{#    {% block translations %}#}
{#    {% endblock translations %}#}
{#{% endblock content %}#}
