{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}
{% block title %}{{ 'admin_blocks.delete.meta.title'|trans }}{% endblock %}
{% block header_icon %}th{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}
            {{ form_widget(form) }}
            {{ form_rest(form) }}
            <div class="ui hidden divider"></div>
            <div class="ui buttons">
                <input type="submit" value="{{ 'admin_blocks.delete.actions.delete.button'|trans }}" class="ui labeled icon primary button" />
                <a href="{{ url('sfs_cms_admin_blocks_list') }}" class="ui button">{{ 'admin_blocks.delete.actions.cancel.button'|trans }}</a>
             </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
