{% block translatable_text_widget %}
    {% if form|length > 1 %}
        <div class="ui equal width grid">
            <div class="equal width row">
                {% for field in form %}
                    <div class="column" style="display: flex; align-items: center;">
                        <div class="inline fields">
                            <div class="field">
                                {{ field.vars.label|upper }}
                                {#                        <img alt="{{ field.vars.label|upper }}" title="{{ field.vars.label|upper }}" src="https://unpkg.com/language-icons/icons/{{ field.vars.label|lower }}.svg" height="15" class="border"/>&nbsp; #}
                            </div>
                        </div>
                        {{ form_widget(field) }}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        {{ form_widget(form|first) }}
    {% endif %}
{% endblock translatable_text_widget %}

{% block symfony_route_widget %}
    <div data-field-container="{{ form.vars.id }}">
        {{ form_row(form.route_name) }}
        <a href="javascript: void(0)"
           data-route-show-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.show_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
        <a href="javascript: void(0)"
           data-route-hide-params="{{ form.route_params.vars.id }}">{{ 'symfony_route.hide_parameters_link'|trans({}, 'sfs_cms_types') }}</a>
        {{ form_row(form.route_params) }}
    </div>
{% endblock symfony_route_widget %}
