{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout.html.twig' %}


{% block title %}{{ 'admin_routes.list.meta.title'|trans }}{% endblock %}
{% block header_title %}{{ 'admin_routes.list.title'|trans }}{% endblock %}
{% block header_subtitle %}Manage content routes{% endblock %}
{% block breadcrums_content %}
    <a class="active section">{{ ('admin_routes.list.breadcrumb')|trans }}</a>
{% endblock breadcrums_content %}

{% block header_buttons %}
    <a class="ui labeled icon button  primary " href="{{ url('sfs_cms_admin_routes_create') }}">
        <i class="icon plus"></i>
        {{ ('admin_routes.list.actions.create.link')|trans }}
    </a>
{% endblock %}

{% block content %}
{#    #}{#    {% form_theme filterForm 'form/form_app_horizontal.html.twig' %}#}
{#    {{ form_start(filterForm) }}#}
{#    {{ form_widget(filterForm) }}#}
{#    {{ form_rest(filterForm) }}#}
{#    {{ form_end(filterForm) }}#}

    <div class="ui segment spaceless sylius-grid-table-wrapper">
        {% embed '@SfsAdmin/components/table.html.twig' with {'collection':entities, 'pagination_route': 'sfs_cms_admin_routes_list', 'classes':'ui stackable very basic celled'} %}
            {% trans_default_domain 'sfs_cms_admin' %}
            {% block ths %}
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.id.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.site.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.path.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.type.header'|trans }}</th>
                <th class="p-3" scope="col">{{ 'admin_routes.list.fields.page.header'|trans }}</th>
                <th class="p-3">&nbsp;</th>
            {% endblock ths %}

            {% block tbody %}
                {% include '@SfsCms/admin/route/list-page.html.twig' %}
            {% endblock tbody %}
        {% endembed %}
    </div>
{% endblock content %}
