{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout_semantic.html.twig' %}
{% block title %}{{ 'admin_blocks.update.meta.title'|trans }}{% endblock %}

{% block header_title %}{{ 'admin_blocks.update.meta.title'|trans }}{% endblock %}
{% block header_icon %}th{% endblock %}

{% form_theme form
    '@SyliusUi/Form/theme.html.twig'
    '@SfsCms/forms/types_theme_semantic.html.twig'
    '@SfsMedia/forms/media_type_theme_semantic.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_blocks_list') }}">{{ 'admin_blocks.list.breadcrumb'|trans }}</a><i class="right chevron icon divider"></i>
    <span class="active section" aria-current="content">{{ 'admin_blocks.update.breadcrumb'|trans }}</span>
{% endblock breadcrums_content %}

{% block content %}

    <div class="ui hidden divider"></div>
    <div class="ui segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}
        <div class="fields">
            <div class="six wide field">
                {{ form_row(form.name) }}
            </div>
        </div>

        {% if form.publishStartDate is defined and form.publishEndDate is defined %}
            <div class="fields">
                <div class="six wide field">
                    {{ form_row(form.publishStartDate) }}
                </div>
                <div class="six wide field">
                    {{ form_row(form.publishEndDate) }}
                </div>
            </div>
        {% endif %}

        <div class="fields">
            <div class="six wide field">
                {{ form_widget(form.data) }}
            </div>
        </div>

        {{ form_rest(form) }}

        <div class="ui hidden divider"></div>
        <div class="ui buttons">
            <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'admin_blocks.update.actions.update.button'|trans }}</button>
            <a href="{{ url('sfs_cms_admin_blocks_list') }}" class="ui button">{{ 'admin_blocks.update.actions.cancel.button'|trans }}</a>
        </div>
        {{ form_end(form) }}
    </div>

    {#    {% include '@SfsMedia/forms/media_type_modal.html.twig' %}#}
{% endblock content %}
