{% trans_default_domain 'sfs_cms_admin' %}

{% for route in entities %}
    <tr>
        <td>{{ route.id }}</td>
        <td>{{ route.sites|map((site) => site|sfs_cms_site_name)|join(', ') }}</td>
        <td>{{ ('admin_routes.types.'~route.type~'.name')|trans({'%redirectType%': route.redirectType}) }}</td>
        <td>{{ route.content.name|default('') }}</td>
        <td class="text-end">
            <div class="ui buttons">
                <a class="ui labeled icon button" href="{{ url('sfs_cms_admin_routes_read', {'route':route}) }}">
                    <i class="icon search"></i>
                    {{ 'admin_routes.list.actions.details.link'|trans }}
                </a>
                <a class="ui labeled icon button" href="{{ url('sfs_cms_admin_routes_update', {'route':route}) }}">
                    <i class="icon pencil"></i>
                    {{ 'admin_routes.list.actions.update.link'|trans }}
                </a>
            </div>
        </td>
    </tr>
{% endfor %}
