{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout_semantic.html.twig' %}
{% set sfs_components_theme = 'semantic-ui' %}

{% block title %}{{ 'admin_routes.list.meta.title'|trans }}{% endblock %}
{% block header_icon %}vertically linkify{% endblock %}
{% block header_title %}{{ 'admin_routes.list.title'|trans }}{% endblock %}
{% block header_subtitle %}Manage content routes{% endblock %}
{% block breadcrums_content %}
    <a class="active section">{{ ('admin_routes.list.breadcrumb')|trans }}</a>
{% endblock breadcrums_content %}

{% block header_buttons %}
    <a class="ui labeled icon button  primary " href="{{ url('sfs_cms_admin_routes_create') }}">
        <i class="icon plus"></i>
        {{ ('admin_routes.list.actions.create.link')|trans }}
    </a>
{% endblock %}

{% block content %}
    {% embed '@SfsComponents/paginator/table.html.twig' with {'collection':entities, 'filter_form':filterForm, 'pagination_route': 'sfs_cms_admin_routes_list', 'classes':'table ui celled'} %}
        {% trans_default_domain 'sfs_cms_admin' %}

        {% block filters %}
            <div class="ui form">
                <div class="inline fields">
                    <div class="field">
                        {{ form_row(filter_form.id) }}
                    </div>
                    <div class="field">
                        {{ form_row(filter_form.sites) }}
                    </div>
                    <div class="field">
                        <button class="ui blue labeled icon button" type="submit">
                            <i class="icon search"></i> Filter
                        </button>
                    </div>
                </div>
            </div>
        {% endblock filters %}

        {% block ths %}
            <th class="p-3" scope="col">{{ 'admin_routes.list.fields.id.header'|trans }}</th>
            <th class="p-3" scope="col">{{ 'admin_routes.list.fields.sites.header'|trans }}</th>
            <th class="p-3" scope="col">{{ 'admin_routes.list.fields.type.header'|trans }}</th>
            <th class="p-3" scope="col">{{ 'admin_routes.list.fields.page.header'|trans }}</th>
            <th class="p-3">&nbsp;</th>
        {% endblock ths %}

        {% block tbody %}
            {% include '@SfsCms/admin/route/list-page.html.twig' %}
        {% endblock tbody %}
    {% endembed %}
{% endblock content %}
