{% trans_default_domain 'sfs_media_admin' %}
{% extends '@SfsMedia/admin_layout.html.twig' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}


{% block title %}{{ 'admin_medias.list.meta.title'|trans }}{% endblock %}
{% block header_title %}{{ 'admin_medias.list.title'|trans }}{% endblock %}
{% block header_subtitle %}Manage content media{% endblock %}
{% block breadcrums_content %}
    <a class="active section">{{ 'admin_medias.list.breadcrumb'|trans }}</a>
{% endblock breadcrums_content %}

{% block header_buttons %}
    {% if is_granted('ROLE_SFS_MEDIA_ADMIN_MEDIAS_CREATE') and media_types|length %}
        <div class="ui floating labeled icon dropdown button teal">
            <i class="plus icon"></i>
            <span class="text">{{ 'admin_medias.list.actions.create.link'|trans }}</span>
            <div class="menu">
                {% for key,type in media_types %}
                    <div class="item">
                        <a href="{{ url('sfs_media_admin_medias_create', {'type':key}) }}">{{ type.name }}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="ui hidden divider"></div>
    <div class="ui segment spaceless sylius-grid-table-wrapper">
        {{ form_start(filterForm) }}
        {{ form_widget(filterForm) }}
        {{ form_rest(filterForm) }}
        {{ form_end(filterForm) }}

        {% include '@SfsMedia/admin/media/list-page.html.twig' %}
    </div>
{% endblock content %}
