{% trans_default_domain 'sfs_media_admin' %}

{% form_theme filterForm 'bootstrap_5_horizontal_layout.html.twig' %}

<div class="ui hidden divider"></div>
{{ form_start(filterForm) }}
<div class="ui equal width grid">
    <div class="column">{{ form_widget(filterForm.text) }}</div>
    {% if filterForm.type is defined %}<div class="col">{{ form_widget(filterForm.type) }}</div>{% endif %}
    <div class="column"><button type="submit" class="btn btn-primary">Search</button></div>

    {% if filterForm.type is defined %}
    <div class="column">
        <div class="ui floating labeled icon dropdown button teal">
            <i class="plus icon"></i>
            <span class="text">{{ 'admin_medias.list.actions.create.link'|trans }}</span>
            <div class="menu">
                {% for type in filterForm.vars.valid_types %}
                    <div class="item"><a href="{{ url('sfs_media_admin_medias_create', {'type':type}) }}">Create {{ type }}</a></div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
    {{ form_rest(filterForm) }}
</div>
{{ form_end(filterForm) }}

<div class="container-fluid user-select-none">
    <div class="row">
        {% for media in entities %}
            <div class="col-3">
                <div class="card text-center">
                    <div class="ml-2 text-nowrap text-dark" data-media-type  role="button"
                         data-media-id="{{ media.id }}"
                         data-media-name="{{ media.name }}"
                        {% for version in media.versions %}
                            data-media-version-{{ version.version }}="{{ media|sfs_media_render_image([version.version], {'class':'img-fluid'})|e }}"
                        {% endfor %}
                    >
                        {{ media|sfs_media_render_image(['_thumbnail'], {'class':'card-img-top img-thumbnail'}) }}
                        <p class="card-title mb-0"><small><strong>{{ media.name }}</strong></small></p>
                        <span class="small">
                            {{ media_types[media.type].name }}
                            {{ media.version('_original').width }}x{{ media.version('_original').height }}
                        </span>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
