{% trans_default_domain 'sfs_media_admin' %}
{% extends '@SfsMedia/admin_layout.html.twig' %}
{% block title %}{{ 'admin_medias.update.meta.title'|trans }}{% endblock %}

{% block content %}
    <h1 class="h3">Update media</h1>

    <div class="ui hidden divider"></div>
    <div class="ui segment">
    {{ form_start(form,{'attr':{'class':'ui form'}}) }}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
    <div class="ui hidden divider"></div>
    <div class="ui buttons">
        <button type="submit" class="ui labeled icon primary button"><i class="plus icon"></i>{{ 'admin_medias.update.actions.update.button'|trans }}</button>
        <a href="{{ url('sfs_media_admin_medias_list') }}" class="ui button">{{ 'admin_medias.update.actions.cancel.button'|trans }}</a>
        <a href="{{ url('sfs_media_admin_medias_delete', {'media':media.id}) }}" class="ui red button">{{ 'admin_medias.update.actions.delete.button'|trans }}</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
