{% trans_default_domain 'sfs_cms_admin' %}

{% for menu in entities %}
    <tr>
        {#<td>{{ menu.id }}</td>#}
        <td>{{ menu.name|default('') }}</td>
        <td>{{ menu.type }}</td>
        <td class="text-end">
            <div class="ui buttons">
                <a class="ui labeled icon button" href="{{ url('sfs_cms_admin_menus_update', {'menu':menu}) }}">
                    <i class="icon pencil"></i>{{ 'admin_menus.list.actions.update.link'|trans }}</a>
            </div>
        </td>
    </tr>



{% endfor %}
