{% trans_default_domain 'sfs_cms_admin' %}
{% extends '@SfsCms/admin_layout_semantic.html.twig' %}
{% block title %}{{ 'admin_menus.update.meta.title'|trans }}{% endblock %}

{% block header_title %}{{ 'admin_menus.update.meta.title'|trans }}{% endblock %}
{% block header_icon %}bars{% endblock %}

{% form_theme form
    '@SyliusUi/Form/theme.html.twig'
    '@SfsCms/forms/menus_theme_semantic.html.twig'
    '@SfsCms/forms/types_theme_semantic.html.twig'
%}

{% block breadcrums_content %}
    {{ parent() }}
    <a class="section" href="{{ url('sfs_cms_admin_menus_list') }}">{{ 'admin_menus.list.breadcrumb'|trans }}</a><i class="right chevron icon divider"></i>
    <span class="active section" aria-current="content">{{ 'admin_menus.update.breadcrumb'|trans({'%name%': menu.name|default(menu.id) }) }}</span>
{% endblock breadcrums_content %}

{% block content %}

    <div class="ui hidden divider"></div>
    <div class="ui segment">
        {{ form_start(form,{'attr':{'class':'ui form'}}) }}
            {{ form_row(form.name) }}

            {% if menu_config.items %}
                <strong>{{ form_label(form.items) }}</strong>
                <div class="ui segment">
                    {{ form_widget(form.items) }}
                    {{ form_errors(form.items) }}
                </div>
            {% endif %}

            <div class="ui horizontal divider">
                {{ 'admin_menus.form.items.new_format'|trans }}
            </div>

            {% if menu_config.form_template|default(false) %}
                {% include menu_config.form_template %}
            {% endif  %}

            {{ form_rest(form) }}

            <div class="ui hidden divider"></div>
            <div class="ui buttons">
                <button class="ui labeled icon primary button" type="submit"><i class="plus icon"></i>{{ 'admin_menus.update.actions.update.button'|trans }}</button>
                <a href="{{ url('sfs_cms_admin_menus_list') }}" class="ui button">{{ 'admin_menus.update.actions.cancel.button'|trans }}</a>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock content %}
